@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Roboto:ital,wght@1,300&display=swap');


//fonts 
$latin-family: 'Anek Latin', sans-serif;

$roboto-family: 'Roboto', sans-serif;

//colors 
$background-color:#000; 
$desc-color:#8e96a3;
$text-color:#fff;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    font-family: $latin-family;
    background-color: $background-color;
   
 
}


//Navbar
header{
    padding-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;;
    i{
        font-size:20px;
        color:#fff;
    }
}

//Biography Section ,information with photo and paragraph and social media
.biography-information{
  
    margin:5rem auto;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    .title{
        justify-content: center;
        display: grid;
        color:#fff;
        font-size:50px;
        margin:20px;
    }
    h2{
        margin: 30px;
        color:$text-color;
    }


    .bio-img{
        align-items: center;
        justify-content: center;
        width:300px;
        height:300px;
        border-radius:100%;
    }
    p{
        font-size:20px;
        width:600px;
        color:$desc-color;
      text-align: justify;
    }
    
    .social-media-icons{
        margin-top:35px;
        align-content: space-around;
        color: $text-color;
        // background-color: $text-color;
        svg{
            width:25px;
            height:25px;
            margin-left:20px;
            }
        }

        @media (max-width: 700px){
            padding:20px;
            p{
               font-size: 24px; 
               width:100%;

            }
        }
    }



    //About Us two columns
    .about-us{
        color:$text-color;
        display: flex;
        justify-content: center;
        margin-top:150px;
        gap:50px;
        .title-about{
            width:700px;
            h1{
                text-align:left;
                font-size: 65px;;
            }
            h4{
                width:50px;
                font-size:30px;
            }
        }


        .desc-about{
            width:700px;
                
            h2{
                font-size:30px;
                margin-bottom:15px;
            }
            p{
                line-height:1.5;
            }
            .chat{
                display: flex;
                margin-top:20px;
                font-size:20px;
                h4{
                    font-weight: bold;
                    margin-left:10px;
                }

            }
        }

        @media (max-width: 1000px) {
            padding:20px;
            .title-about{
                
                
                h1{
                    font-size:60px;
                }
            }
        }

        @media (max-width: 700px){
                flex-direction: column;
             
                   .title-about{
                    width:100%;
                   
                    
                    h1{
                        font-size:40px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    h4{
                        
                        font-size:20px;
                        display:none;
                        // margin:auto;
                    }
                   }

                   .desc-about{
                    width:100%;
                    padding:20px;
                   }
                
            }   
        }



        //Gallery section with number,title, gallery of pictures and button Learn More
    .gallery-container{
        margin-top:10em;
        color:$text-color;
        display:flex;
        flex-direction: column;
        gap:40px;

        #number-1{
            text-align: center;
            font-size: 50px;
            font-weight: 800;
        }
        hr{
            
           width:100vh;
           margin:auto;
        }

        #gallery-title{
            margin:auto;
            text-align: center;
            width:70vh;
            font-size: 45px;
        }
        .arrow{
            text-align: center;
            font-size:50px;
            
        }
        h3{
            text-align: center;
            font-size:23px;
        }
    
        .pictures-gallery{
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            gap:50px;
            margin-bottom: 60px;

            img{
                border-radius: 20px;
                width:500px;
                height:500px;
                cursor: pointer;
                &:hover{
                    transform:scale(1.2);
                }
            }
            
        }

        a{
            text-decoration: none;
            border:1px solid white;
            color:$text-color;
            background-color: $background-color;
            cursor:pointer;
            margin:auto;
            margin-bottom: 50px;
            font-size: 20px;
            padding:20px 80px 20px 80px;
        
            &:hover{
                background-color: $text-color;
                color:$background-color;
            }
         
        }


        @media (max-width: 1000px) {
            padding:20px;
            .pictures-gallery{
                
                img{
                    width:100%;
                }
           }
        }

        @media (max-width: 700px){
            padding:20px;

            hr{
                width:100%;
            }
            #gallery-title{
                font-size:35px;
                width:100%;
            }
            .pictures-gallery{
                flex-direction: column;
                img{
                    width:100%;
                }
            }
            
        }
    }


    //Motivation paragraphs ,2 columns
    .motivation{
        margin-top:100px;
        color:$text-color;
        display:flex;
        justify-content: center;
        column-gap:60px;

        .motivation-desc{
            width:700px;
            font-size:19px;
            h2{
                margin-bottom: 20px;
            }
        }

        .desc-signature{
            width:700px;
            font-size:21px;

            img{
                margin-top:25px;
                width:200px;
            }
        }
        @media (max-width: 1300px) {
            padding:20px;
           
        }
        @media (max-width: 1000px) {
            padding:20px;
           
        }
        @media (max-width: 700px){
            flex-direction: column;
            padding:20px;   
            gap:20px;
            .motivation-desc{
                width: 100%;
                margin-bottom:40px;
            }
            .desc-signature{
                width: 100%;

            }
        }

    }


    //Contact Section with information about person telephone,address ...
    .contact-us{
        color:$text-color;
        margin-top:13vh;
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-bottom:10vh;

        h1{
            font-size:60px;
        }

        .phone-inf{
            display:flex;
            justify-content: center;
            margin-top:20px;
            margin-bottom:30px;
        }
        img{
            margin:auto;
            width:160px;
            height:160px;
            border-radius:100%;

    }
        hr{
            width:200px;
            margin:auto;
            margin-bottom: 20px;
            margin-top: 20px;;
            height:10px;
            background-color: $text-color;
            border-radius: 5px;

        }
        h5{
            font-size: 23px;
            margin-top:20px;
            margin-bottom: 20px;
        }
        p{
            font-size:17px;
            margin:5px;
        }
    }


    //Footer
    .footer{
        color:$text-color;
        background-color: #383838;
        height:130px;
        display:flex;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
            width:230px;
        }
    }